{% macro content(message = null) %}
    <h4 class="mb-5">
        {% if message %}
            {{ message }}
        {% else %}
            You must be authenticated.
        {% endif %}
    </h4>
    <p><a href="{{ path('app_login') }}">Click here</a> to log in.</p>
    <p>If you don't have an account, <a href="{{ path('app_user_create') }}">click here</a> to sign up.</p>
{% endmacro %}

{% macro card(message = null) %}
    <div class="card">
        <div class="card-body">
            {{ _self.content(message) }}
        </div>
    </div>
{% endmacro %}