{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Forgot Password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-6">
                <h1 class="text-center mb-5 d-none d-md-block">Forgot Password</h1>
                <div class="card mx-auto text-center">
                    <div class="card-body">
                        <h1 class="card-title my-3 d-block d-md-none">Forgot Password</h1>
                        {{ form_start(form, {'attr': {'class': 'row my-5 my-md-3'}}) }}
                            <div class="col-12 col-md-9 mx-auto text-center">
                                <div class="mb-3">
                                    <label class="form-label" for="username">Username</label>
                                    {% for error in form.username.vars.errors %}
                                        <div class="invalid-feedback mt-0 mb-1">{{ error.message }}</div>
                                    {% endfor %}
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'id': 'username', 'style': 'text-align: center;'}}) }}
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" class="btn btn-primary">Ask for reset password</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}