html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
}

.footer-margin {
  height: 64px;
}

.icon-navbar {
  height: 32px;
  width: 32px;
}

.icon-navigation {
  height: 64px;
  width: 64px;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  float: right;
  z-index: 1200;
}

.invalid-feedback {
  display: block;
}

#title-banner {
  background-color: rgba(0, 0, 0, 0.6);
}

.label-collection {
  width: 100%;
  background-color: rgb(223, 222, 222);
}
