HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  min-height: 100vh;
}

.footer-margin {
  height: 64px;
}

.icon-navbar {
  height: 32px;
  width: 32px;
}

.invalid-feedback {
  display: block;
}
