HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  min-height: 100vh;
}

.footer-margin {
  height: 64px;
}

.icon-navbar {
  height: 32px;
  width: 32px;
}

.icon-navigation {
  height: 64px;
  width: 64px;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  float: right;
  z-index: 1200;
}

.invalid-feedback {
  display: block;
}

.test {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

#title-banner {
  background-color: rgba(0, 0, 0, 0.6);
}
